@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

a {
  color: #993366;
  text-decoration: none;
}

a:visited {
  color: #993366;
  text-decoration: none;
}

a:active {
  color: #993366;
  text-decoration: none;
}

.body {
  margin: 0;
}

.title {
  position: relative;
  width: 100%;
  top: 50px;
  left: 100px;
  font-family: 'Indie Flower', cursive;
  font-size: clamp(2.0rem, -0.875rem + 8.333vw, 4.0rem);
  color: #eeeeee;
}

.text,
.contact {
  position: relative;
  width: 100%;
  top: 50px;
  left: 100px;
  font-family: 'Open Sans', sans-serif;
  font-size: clamp(1rem, 0.6250rem + 1.6667vw, 1.3rem);
  color: #eeeeee;
  max-width: 500px;
}

.contact {
  padding-top: 1em;
}

html {
  background-image: url('images/bg.png');
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
  overflow-x: hidden;
}

.icon {
  height: 36px;
  width: 36px;
  object-fit: contain;
  margin-right: 5px;
}